<header>
  <h1>Saurabh Bhatia</h1>
  <h3>Engineering Manager, Author, Writer, Speaker, Artist</h3>
</header>

<nav>
  <ul>
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/about' | relative_url }}">About</a></li>
    <li><a href="{{ '/resume' | relative_url }}">Resume</a></li>
    <li><a href="{{ '/published-works' | relative_url }}">Published works</a></li>
  </ul>
</nav>
